name: lab02
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello
      - run: pip install nbconvert pint matplotlib scipy
      - uses: actions/checkout@v4
      - run: sudo apt-get install pandoc texlive-xetex
      - run: python -m nbconvert --to pdf --execute lab2/lab_2.ipynb
      - uses: action/upload artifact@v5
        with:
          path: lab2/lab_2.pdf