name: lab_04
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello
      - run: pip install nbconvert pint matplotlib scipy ipykernel open-atmos-jupyter-utils
      - uses: actions/checkout@v4
      - run: sudo apt-get update
      - run: sudo apt-get install pandoc texlive-xetex inkscape
      - run: python -m nbconvert --to pdf --execute lab_04/lab_04.ipynb
      - uses: actions/upload-artifact@v4
        with:
          path: lab_04/lab_04.pdf
